<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <nav>
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'index' %}active{% endif %}" aria-current="page" href="/">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'blog' %}active{% endif %}" href="/blog">Блог</a>
            </li>
            <li class="nav-item">
                <a class="nav-link {% if active_page == 'contacts' %}active{% endif %}" href="/contacts">Контакты</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <h1 class="mt-5">Свяжитесь с нами</h1>
        <p>Если у вас есть вопросы, пожалуйста, не стесняйтесь обращаться к нам по следующим контактам:</p>
        <ul>
            <li>Электронная почта: example@example.com</li>
            <li>Телефон: +7 (123) 456-7890</li>
        </ul>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
